<div class="container">
		<div class="row">			
      			<div class="header col-xs-12 col-sm-12 col-md-12 "> 	
				<h1>Contacto</h1>

				<center><%= image_tag "empleate.png", :alt => "logo empleate", :title => "empleate"%></center>

				<h2>Póngase en contacto con nosotros</h2>

				<p>

				Para cualquier duda o sugerencia no dude en ponerse en contacto con nosotros. Nuestro equipo le responderá con la mayor brevedad posible.

				</p>
			</div>
		</div>
		<div class="row">                
			<div class="span6 offset3">
				<h2>Formulario</h2>
				<%= form_tag({:controller => "static_pages", :action => "create"}, :method => "post") do %>
      					<%=  label_tag "name", "Nombre" %>
					<%= text_field_tag "nombre", "", :required => "required" %>	
					
					<%=  label_tag "email", "Email" %>
                                        <%= text_field_tag "email", "", :required => "required" %>

					<%=  label_tag "mensaje", "Mensaje" %>
                                        <%= text_area_tag "mensaje", "", :required => "required" %>

	      			
					<%= submit_tag "ENVIAR CONSULTA", class: "btn btn-large btn-primary" %>
    				<% end %>
			</div>
		</div>				
				
</div>  <!--container-->

