<div class="container">
		<div class="row">			
      			<div class="header col-xs-12 col-sm-12 col-md-12 "> 	
				<h1>Contacto</h1>

				<center><%= image_tag "empleate.png", :alt => "logo empleate", :title => "empleate"%></center>

				<h2>Póngase en contacto con nosotros</h2>

				<p>

				Para cualquier duda o sugerencia no dude en ponerse en contacto con nosotros. Nuestro equipo le responderá con la mayor brevedad posible.

				</p>
			</div>
		</div>
		<div class="row">                
			<div class="span6 offset3">
				<h2>Formulario</h2>
    				<%= form_for(@consulta) do |f| %>

      					<%= f.label :name %>
      					<%= f.text_field :name %>

      					<%= f.label :email %>
      					<%= f.text_field :email %>

					<%= f.label :mensaje %>
					<%= f.text_field :mensaje %>
      			
					<%= f.submit "ENVIAR CONSULTA", class: "btn btn-large btn-primary" %>
    				<% end %>
			</div>
		</div>				
				
</div>  <!--container-->

