<!DOCTYPE html>
<html>
<head>
  <title> <%= @titulo %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="menu">
		<%= link_to "Inicio", :controller=>"static_pages", :action=>"home" %>
		<%= link_to "Registro",:controller=>"users", :action=>"new" %>
	</div>
<%= yield %>

</body>
</html>
